<!DOCTYPE html>
<html lang="IT" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Libreria ExtraRed</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <h1>Inserisci i dati del libro</h1>
        <form action="#" th:action="@{/book}" th:object="${book}" method="post">
            <p>Titolo del libro: <input type="text" th:field="*{nomeLibro}" required /></p>
            <p>Autore del libro: <input type="text" th:field="*{autoreLibro}" required /></p>
            <p>Data di pubblicazione del libro: <input type="date" th:field="*{dataPubblicazione}" required /></p>
            <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
        </form>
    </body>
</html>